<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <img src="img/logo.png"/>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="find-our-offices" class="page">
        <div class="page-content">
            <div class="content-block">
                <h1>Find our Offices</h1>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; <a href="#" class="open-in-maps-link" class="external" onClick="window.open(OpenInMapsLinks(),'_system','location=yes');return false;">16 Langford Road, Westville, 3629</a></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; <a href="tel:0312670430" class="external" onClick="window.open(this.href,'_system','location=yes');return false;">(031) 267-0430</a></p>
                <a href="#" class="link open-in-maps open-in-maps-link external" onClick="window.open(OpenInMapsLinks(),'_system','location=yes');return false;">OPEN IN MAPS</a>                
                <div class="extend-it">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
