/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

@font-face{
    font-family: 'Titillium';
    src: url('../font/Titillium/Titillium-Regular.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face{
    font-family: 'Titillium Thin';
    src: url('../font/Titillium/Titillium-Thin.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
body{
	font-family:'Titillium', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size:16px;
	color: #212121;
}
p{
	margin: 10px 0;
    padding: 0 15px;
}
h1{
	font-family: 'Titillium Thin';
    font-size: 28px;
    margin: 8px 0;
    font-weight: normal;
    padding: 0 15px;
}
a{
    color: #212121;   
}
.content-block.extend-it{
	margin-top: -5px!important;
}
#map{
	height: 100%;
}
.header{
    background: #212121;
    height: 55px;
    padding: 20px 10px 5px;
}
.header img{
    max-height: 60px;
    margin-left: 15px;
}
.header a{
    color: #fff;
}
.panel {
    background: #212121;
    width: 190px;
}
.panel .content-block {
    margin: 75px 0;
    padding-left: 10px;
}
body.with-panel-right-reveal .views {
    -webkit-transform: translate3d(-190px,0,0);
    transform: translate3d(-190px,0,0);
}
body.with-panel-right-reveal .panel-overlay {
    margin-left: -190px;
}
.panel a{
	color: #fff;
	font-size: 1.1em;
	display: block;
	line-height: 1.5em;
	padding-bottom: 10px;
}
.statusbar-overlay {
    background: #212121;
}

.emergency-support{
    background-color: #4c617b;
    width: 100%;
    height: auto;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
}
.emergency-support img{
    width: 100%;
    min-height: 60px;
    display: block;
    max-width: 110px;
    margin: 0 auto;
}
.emergency-support a{
	padding-bottom: 0;
}
.menu .close img{
    height: 1.8em;
    position: absolute;
    top: 1.6em;
    right: 1em;
    opacity: 0.6;
}
.menu .close img:hover,
.menu .close img:hover{
    opacity: 1;
}
.banner{
    width: 100%;
    height: auto;
}
.navbar-fixed .page-content, .navbar-through .page-content {
    padding-top: 55px;
}
.content-block {
    margin: 0;
    overflow: auto;
    padding: 0 0px;
}
.page {
    background: #fff;
}
.home-link-wrapper{
    text-align: center;
}
.home-link{
	width: 30%;
	height: auto;
	display: inline-block;
	margin: 5px 3px;
}
.home-link:hover{
	opacity: .5;
}
.home-link img{
	width: 100%;
}
.navbar-inner, .toolbar-inner {
    padding: 0;
}
.signin{
    font-family:'Titillium';
    font-size: 20px!important;
    position: fixed;
    background-color: #4c617b!important;
    width: 100%!important;
    height: 100%;
    bottom: 0;
    left: 0px;
    color: #fff!important;
    text-align: center;
    border: 0!important;
    margin-bottom: 0;
    font-weight: normal!important;
}
.open-in-maps{
    display: block;
    padding: 8px 0;
    font-family: 'Titillium';
    font-size: 20px!important;
    background-color: #4c617b!important;
    width: 100%!important;
    height: 29px;
    color: #fff!important;
    text-align: center;
    border: 0!important;
    margin-bottom: 0;
    font-weight: normal!important;
        padding-top: 12px;
}
.navbar a.link, .subnavbar a.link, .toolbar a.link {
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.tabbar-fixed .page-content, 
.tabbar-through .page-content, 
.toolbar-fixed .page-content, 
.toolbar-through .page-content {
    padding-bottom: 0px;
}
.user-details{
    width: 100%;
    height: 100%;
    background: url(../img/backgrounds/bde.jpg) no-repeat center center;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 501;
    top: 0;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.user-details .logo{
    text-align: center;
    padding: 60px 0;
}

.user-details .logo img{
   
}


.user-details .form-element,
.user-details form{
   text-align: center;
}

.user-details .form-element input{
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    width: 80%;
    margin: 5px 0px;
    border-top: 0;
    background-color: rgba(0,0,0,0);
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-family: 'Titillium Thin';
}
.form-element input::-moz-placeholder {
  color: rgba(255,255,255,0.5);
  opacity: 1;
}
.form-element input:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.form-element input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}

.user-details button{
    font-family: 'Titillium';
    font-size: 20px!important;
    /* position: fixed; */
    background-color: rgba(255,255,255,0.1)!important;
    width: 80%!important;
    /* height: 100%; */
    /* bottom: 0; */
    /* left: 0px; */
    color: #fff!important;
    text-align: center;
    border: 0!important;
    margin: 20px 0 0;
    padding: 10px 0;
    font-weight: normal!important;
}

/* Overlay */
.overlay_preloader{
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 60% 0;
    color: #e6e6e6;
    z-index: 2000;
}
.overlay_preloader img{
    max-width: 30px;
}
/* Overlay */

@media screen and (max-width: 325px) {

}

/* iPhone 5*/
@media (min-width: 300px) and (max-width: 320px) {
	.home-link-wrapper{
        margin: 6px 0;
	}
}

/* iPhone 6 */
@media (min-width: 321px) and (max-width: 375px) {
	.home-link-wrapper{
        margin: 7px 0;
	}
}

/* iPhone 6 Plus*/
@media (min-width: 376px) and (max-width: 414px) {
	.home-link-wrapper{
        margin: 10px 0;
	}
}

@media screen and (max-width: 767px) {

}
